body{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background: lightcyan;
}

header{
    text-align: center;
}

article{
    margin: auto 10%;
    
    background: lightgoldenrodyellow;
    padding-top: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    
    /*Lo mandamos al medio*/
    display: flex;
    justify-content: center;  /* centra horizontalmente */
    align-items: center;      /* centra verticalmente */
    flex-direction: column;   /* apila verticalmente */
}

footer{
    text-align: center;
    background: black;
    color: white;
}